#cloud-config
%{ if length(ssh_keys) > 0 }
ssh_authorized_keys:
%{ for ssh_key in ssh_keys }
- ${ssh_key}
%{ endfor }
%{ endif }
runcmd:
- apt-get update
- apt-get install -y software-properties-common
- DEBIAN_FRONTEND=noninteractive apt-get upgrade -y
- iptables -I INPUT -s ${vcn_cidr} -j ACCEPT
- iptables-save > /etc/iptables/rules.v4
- iptables -I INPUT 2 -p udp --dport 51820 -j ACCEPT
- iptables-save > /etc/iptables/rules.v4
