OCI Authentication Details For CI/CD 
------------------------------------
OCI_CLI_USER=${bastion_user_id}
OCI_CLI_FINGERPRINT=${fingerprint}
OCI_CLI_TENANCY=${tenancy_id}
OCI_CLI_REGION=${region}
OCI_CLI_KEY_CONTENT=${bastion_iam_key}


Bastion Details:
----------------
bastion user: ubuntu
bastion public ip: ${bastion_public_ip}
bastion private key:

${bastion_ssh_key}
